@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-aY0hpGRf8: #000000;
  --plasmic-token-text-black: var(--token-aY0hpGRf8);
  --token-HvxFosjUL: 24px;
  --plasmic-token-content-gap-default: var(--token-HvxFosjUL);
  --token-Vyfg7aK-v: #ffffff;
  --plasmic-token-text-white: var(--token-Vyfg7aK-v);
  --token-swtsxTTQc: #000000;
  --plasmic-token-color-primary: var(--token-swtsxTTQc);
  --token-mxoInlDRv: #0000000f;
  --plasmic-token-placeholder-black: var(--token-mxoInlDRv);
  --token-LAeUX4qZc: #000000;
  --plasmic-token-background-black: var(--token-LAeUX4qZc);
  --token-SkiZ8xvud: 960px;
  --plasmic-token-page-max-width: var(--token-SkiZ8xvud);
  --token-7w9j3A9TD: #ffffff;
  --plasmic-token-color-white: var(--token-7w9j3A9TD);
}

.plasmic_default_styles {
  --mixin-5mbFvWPas-91_font-family: "Inter", sans-serif;
  --mixin-5mbFvWPas-91_font-size: 16px;
  --mixin-5mbFvWPas-91_font-weight: 400;
  --mixin-5mbFvWPas-91_font-style: normal;
  --mixin-5mbFvWPas-91_color: #535353;
  --mixin-5mbFvWPas-91_text-align: left;
  --mixin-5mbFvWPas-91_text-transform: none;
  --mixin-5mbFvWPas-91_line-height: 1.5;
  --mixin-5mbFvWPas-91_letter-spacing: normal;
  --mixin-5mbFvWPas-91_white-space: pre-wrap;
  --mixin-5mbFvWPas-91_user-select: text;
  --mixin-5mbFvWPas-91_text-decoration-line: none;
  --mixin-5mbFvWPas-91_text-overflow: clip;
  --mixin-PSjISVdw8ohU_color: #000000;
  --mixin-PSjISVdw8ohU_font-weight: 900;
  --mixin-PSjISVdw8ohU_font-size: 72px;
  --mixin-PSjISVdw8ohU_line-height: 1;
  --mixin-PSjISVdw8ohU_letter-spacing: -4px;
  --mixin-PSjISVdw8ohU_white-space: pre-wrap;
  --mixin-l7zYL6JdhOSV_color: #000000;
  --mixin-l7zYL6JdhOSV_font-size: 48px;
  --mixin-l7zYL6JdhOSV_font-weight: 700;
  --mixin-l7zYL6JdhOSV_letter-spacing: -1px;
  --mixin-l7zYL6JdhOSV_line-height: 1.1;
  --mixin-l7zYL6JdhOSV_white-space: pre-wrap;
  --mixin-wv3vYnUSq-sl_color: #0070f3;
  --mixin-wv3vYnUSq-sl_white-space: pre-wrap;
  --mixin-2uKpDrfoB_AV_color: #000000;
  --mixin-2uKpDrfoB_AV_font-size: 32px;
  --mixin-2uKpDrfoB_AV_font-weight: 600;
  --mixin-2uKpDrfoB_AV_letter-spacing: -0.8px;
  --mixin-2uKpDrfoB_AV_line-height: 1.2;
  --mixin-2uKpDrfoB_AV_white-space: pre-wrap;
  --mixin-C0QD4uhygoP-_color: #000000;
  --mixin-C0QD4uhygoP-_font-size: 24px;
  --mixin-C0QD4uhygoP-_font-weight: 600;
  --mixin-C0QD4uhygoP-_letter-spacing: -0.5px;
  --mixin-C0QD4uhygoP-_line-height: 1.3;
  --mixin-C0QD4uhygoP-_white-space: pre-wrap;
  --mixin-T7bYGuPn1qqP_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-T7bYGuPn1qqP_border-bottom-color: #dddddd;
  --mixin-T7bYGuPn1qqP_border-bottom-style: solid;
  --mixin-T7bYGuPn1qqP_border-bottom-width: 1px;
  --mixin-T7bYGuPn1qqP_border-left-color: #dddddd;
  --mixin-T7bYGuPn1qqP_border-left-style: solid;
  --mixin-T7bYGuPn1qqP_border-left-width: 1px;
  --mixin-T7bYGuPn1qqP_border-right-color: #dddddd;
  --mixin-T7bYGuPn1qqP_border-right-style: solid;
  --mixin-T7bYGuPn1qqP_border-right-width: 1px;
  --mixin-T7bYGuPn1qqP_border-top-color: #dddddd;
  --mixin-T7bYGuPn1qqP_border-top-style: solid;
  --mixin-T7bYGuPn1qqP_border-top-width: 1px;
  --mixin-T7bYGuPn1qqP_border-bottom-left-radius: 3px;
  --mixin-T7bYGuPn1qqP_border-bottom-right-radius: 3px;
  --mixin-T7bYGuPn1qqP_border-top-left-radius: 3px;
  --mixin-T7bYGuPn1qqP_border-top-right-radius: 3px;
  --mixin-T7bYGuPn1qqP_font-family: "Inconsolata";
  --mixin-T7bYGuPn1qqP_padding-bottom: 1px;
  --mixin-T7bYGuPn1qqP_padding-left: 4px;
  --mixin-T7bYGuPn1qqP_padding-right: 4px;
  --mixin-T7bYGuPn1qqP_padding-top: 1px;
  --mixin-T7bYGuPn1qqP_white-space: pre-wrap;
  --mixin-vmsXEuaePofv_border-left-color: #dddddd;
  --mixin-vmsXEuaePofv_border-left-style: solid;
  --mixin-vmsXEuaePofv_border-left-width: 3px;
  --mixin-vmsXEuaePofv_color: #888888;
  --mixin-vmsXEuaePofv_padding-left: 10px;
  --mixin-vmsXEuaePofv_white-space: pre-wrap;
  --mixin-tffYZ95MsEwP9_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-tffYZ95MsEwP9_border-bottom-color: #dddddd;
  --mixin-tffYZ95MsEwP9_border-bottom-style: solid;
  --mixin-tffYZ95MsEwP9_border-bottom-width: 1px;
  --mixin-tffYZ95MsEwP9_border-left-color: #dddddd;
  --mixin-tffYZ95MsEwP9_border-left-style: solid;
  --mixin-tffYZ95MsEwP9_border-left-width: 1px;
  --mixin-tffYZ95MsEwP9_border-right-color: #dddddd;
  --mixin-tffYZ95MsEwP9_border-right-style: solid;
  --mixin-tffYZ95MsEwP9_border-right-width: 1px;
  --mixin-tffYZ95MsEwP9_border-top-color: #dddddd;
  --mixin-tffYZ95MsEwP9_border-top-style: solid;
  --mixin-tffYZ95MsEwP9_border-top-width: 1px;
  --mixin-tffYZ95MsEwP9_border-bottom-left-radius: 3px;
  --mixin-tffYZ95MsEwP9_border-bottom-right-radius: 3px;
  --mixin-tffYZ95MsEwP9_border-top-left-radius: 3px;
  --mixin-tffYZ95MsEwP9_border-top-right-radius: 3px;
  --mixin-tffYZ95MsEwP9_font-family: "Inconsolata";
  --mixin-tffYZ95MsEwP9_padding-bottom: 3px;
  --mixin-tffYZ95MsEwP9_padding-left: 6px;
  --mixin-tffYZ95MsEwP9_padding-right: 6px;
  --mixin-tffYZ95MsEwP9_padding-top: 3px;
  --mixin-tffYZ95MsEwP9_white-space: pre-wrap;
  --mixin-m4Lz_NqS0fUWf_display: flex;
  --mixin-m4Lz_NqS0fUWf_flex-direction: column;
  --mixin-m4Lz_NqS0fUWf_align-items: stretch;
  --mixin-m4Lz_NqS0fUWf_justify-content: flex-start;
  --mixin-m4Lz_NqS0fUWf_list-style-position: outside;
  --mixin-m4Lz_NqS0fUWf_padding-left: 40px;
  --mixin-m4Lz_NqS0fUWf_position: relative;
  --mixin-m4Lz_NqS0fUWf_list-style-type: disc;
  --mixin-m4Lz_NqS0fUWf_white-space: pre-wrap;
  --mixin-ZJv4nKnbrKBfg_display: flex;
  --mixin-ZJv4nKnbrKBfg_flex-direction: column;
  --mixin-ZJv4nKnbrKBfg_align-items: stretch;
  --mixin-ZJv4nKnbrKBfg_justify-content: flex-start;
  --mixin-ZJv4nKnbrKBfg_list-style-position: outside;
  --mixin-ZJv4nKnbrKBfg_padding-left: 40px;
  --mixin-ZJv4nKnbrKBfg_position: relative;
  --mixin-ZJv4nKnbrKBfg_list-style-type: decimal;
  --mixin-ZJv4nKnbrKBfg_white-space: pre-wrap;
  --mixin-0N75TrI7Z60wO_color: #000000;
  --mixin-0N75TrI7Z60wO_font-size: 20px;
  --mixin-0N75TrI7Z60wO_font-weight: 600;
  --mixin-0N75TrI7Z60wO_letter-spacing: -0.3px;
  --mixin-0N75TrI7Z60wO_line-height: 1.5;
  --mixin-0N75TrI7Z60wO_white-space: pre-wrap;
  --mixin-sn8oV5uL9tGqj_color: #000000;
  --mixin-sn8oV5uL9tGqj_font-size: 16px;
  --mixin-sn8oV5uL9tGqj_font-weight: 600;
  --mixin-sn8oV5uL9tGqj_line-height: 1.5;
  --mixin-sn8oV5uL9tGqj_white-space: pre-wrap;
  --mixin-Cv8kpVvOFMHST_color: #3291ff;
  --mixin-Cv8kpVvOFMHST_white-space: pre-wrap;
  --mixin-1jSNtfeLo43wT_white-space: pre-wrap;
  --mixin-q_TaH1wRP_c-C_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
.root_reset {
  font-family: var(--mixin-5mbFvWPas-91_font-family);
  font-size: var(--mixin-5mbFvWPas-91_font-size);
  font-weight: var(--mixin-5mbFvWPas-91_font-weight);
  font-style: var(--mixin-5mbFvWPas-91_font-style);
  color: var(--mixin-5mbFvWPas-91_color);
  text-align: var(--mixin-5mbFvWPas-91_text-align);
  text-transform: var(--mixin-5mbFvWPas-91_text-transform);
  line-height: var(--mixin-5mbFvWPas-91_line-height);
  letter-spacing: var(--mixin-5mbFvWPas-91_letter-spacing);
  white-space: var(--mixin-5mbFvWPas-91_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset :global(.__wab_expr_html_text) h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-PSjISVdw8ohU_color);
  font-weight: var(--mixin-PSjISVdw8ohU_font-weight);
  font-size: var(--mixin-PSjISVdw8ohU_font-size);
  line-height: var(--mixin-PSjISVdw8ohU_line-height);
  letter-spacing: var(--mixin-PSjISVdw8ohU_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset :global(.__wab_expr_html_text) h2),
:where(.root_reset.plasmic_default__h2) {
  color: var(--mixin-l7zYL6JdhOSV_color);
  font-size: var(--mixin-l7zYL6JdhOSV_font-size);
  font-weight: var(--mixin-l7zYL6JdhOSV_font-weight);
  letter-spacing: var(--mixin-l7zYL6JdhOSV_letter-spacing);
  line-height: var(--mixin-l7zYL6JdhOSV_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset :global(.__wab_expr_html_text) a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-wv3vYnUSq-sl_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset :global(.__wab_expr_html_text) h3),
:where(.root_reset.plasmic_default__h3) {
  color: var(--mixin-2uKpDrfoB_AV_color);
  font-size: var(--mixin-2uKpDrfoB_AV_font-size);
  font-weight: var(--mixin-2uKpDrfoB_AV_font-weight);
  letter-spacing: var(--mixin-2uKpDrfoB_AV_letter-spacing);
  line-height: var(--mixin-2uKpDrfoB_AV_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset :global(.__wab_expr_html_text) h4),
:where(.root_reset.plasmic_default__h4) {
  color: var(--mixin-C0QD4uhygoP-_color);
  font-size: var(--mixin-C0QD4uhygoP-_font-size);
  font-weight: var(--mixin-C0QD4uhygoP-_font-weight);
  letter-spacing: var(--mixin-C0QD4uhygoP-_letter-spacing);
  line-height: var(--mixin-C0QD4uhygoP-_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset :global(.__wab_expr_html_text) code),
:where(.root_reset.plasmic_default__code) {
  background: #f8f8f8;
  font-family: var(--mixin-T7bYGuPn1qqP_font-family);
  border-radius: var(--mixin-T7bYGuPn1qqP_border-top-left-radius)
    var(--mixin-T7bYGuPn1qqP_border-top-right-radius)
    var(--mixin-T7bYGuPn1qqP_border-bottom-right-radius)
    var(--mixin-T7bYGuPn1qqP_border-bottom-left-radius);
  padding: var(--mixin-T7bYGuPn1qqP_padding-top)
    var(--mixin-T7bYGuPn1qqP_padding-right)
    var(--mixin-T7bYGuPn1qqP_padding-bottom)
    var(--mixin-T7bYGuPn1qqP_padding-left);
  border-top: var(--mixin-T7bYGuPn1qqP_border-top-width)
    var(--mixin-T7bYGuPn1qqP_border-top-style)
    var(--mixin-T7bYGuPn1qqP_border-top-color);
  border-right: var(--mixin-T7bYGuPn1qqP_border-right-width)
    var(--mixin-T7bYGuPn1qqP_border-right-style)
    var(--mixin-T7bYGuPn1qqP_border-right-color);
  border-bottom: var(--mixin-T7bYGuPn1qqP_border-bottom-width)
    var(--mixin-T7bYGuPn1qqP_border-bottom-style)
    var(--mixin-T7bYGuPn1qqP_border-bottom-color);
  border-left: var(--mixin-T7bYGuPn1qqP_border-left-width)
    var(--mixin-T7bYGuPn1qqP_border-left-style)
    var(--mixin-T7bYGuPn1qqP_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset :global(.__wab_expr_html_text) blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-vmsXEuaePofv_color);
  padding-left: var(--mixin-vmsXEuaePofv_padding-left);
  border-left: var(--mixin-vmsXEuaePofv_border-left-width)
    var(--mixin-vmsXEuaePofv_border-left-style)
    var(--mixin-vmsXEuaePofv_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset :global(.__wab_expr_html_text) pre),
:where(.root_reset.plasmic_default__pre) {
  background: #f8f8f8;
  font-family: var(--mixin-tffYZ95MsEwP9_font-family);
  border-radius: var(--mixin-tffYZ95MsEwP9_border-top-left-radius)
    var(--mixin-tffYZ95MsEwP9_border-top-right-radius)
    var(--mixin-tffYZ95MsEwP9_border-bottom-right-radius)
    var(--mixin-tffYZ95MsEwP9_border-bottom-left-radius);
  padding: var(--mixin-tffYZ95MsEwP9_padding-top)
    var(--mixin-tffYZ95MsEwP9_padding-right)
    var(--mixin-tffYZ95MsEwP9_padding-bottom)
    var(--mixin-tffYZ95MsEwP9_padding-left);
  border-top: var(--mixin-tffYZ95MsEwP9_border-top-width)
    var(--mixin-tffYZ95MsEwP9_border-top-style)
    var(--mixin-tffYZ95MsEwP9_border-top-color);
  border-right: var(--mixin-tffYZ95MsEwP9_border-right-width)
    var(--mixin-tffYZ95MsEwP9_border-right-style)
    var(--mixin-tffYZ95MsEwP9_border-right-color);
  border-bottom: var(--mixin-tffYZ95MsEwP9_border-bottom-width)
    var(--mixin-tffYZ95MsEwP9_border-bottom-style)
    var(--mixin-tffYZ95MsEwP9_border-bottom-color);
  border-left: var(--mixin-tffYZ95MsEwP9_border-left-width)
    var(--mixin-tffYZ95MsEwP9_border-left-style)
    var(--mixin-tffYZ95MsEwP9_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset :global(.__wab_expr_html_text) ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-m4Lz_NqS0fUWf_display);
  flex-direction: var(--mixin-m4Lz_NqS0fUWf_flex-direction);
  align-items: var(--mixin-m4Lz_NqS0fUWf_align-items);
  justify-content: var(--mixin-m4Lz_NqS0fUWf_justify-content);
  list-style-position: var(--mixin-m4Lz_NqS0fUWf_list-style-position);
  padding-left: var(--mixin-m4Lz_NqS0fUWf_padding-left);
  position: var(--mixin-m4Lz_NqS0fUWf_position);
  list-style-type: var(--mixin-m4Lz_NqS0fUWf_list-style-type);
  flex-column-gap: var(--mixin-m4Lz_NqS0fUWf_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset :global(.__wab_expr_html_text) ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-ZJv4nKnbrKBfg_display);
  flex-direction: var(--mixin-ZJv4nKnbrKBfg_flex-direction);
  align-items: var(--mixin-ZJv4nKnbrKBfg_align-items);
  justify-content: var(--mixin-ZJv4nKnbrKBfg_justify-content);
  list-style-position: var(--mixin-ZJv4nKnbrKBfg_list-style-position);
  padding-left: var(--mixin-ZJv4nKnbrKBfg_padding-left);
  position: var(--mixin-ZJv4nKnbrKBfg_position);
  list-style-type: var(--mixin-ZJv4nKnbrKBfg_list-style-type);
  flex-column-gap: var(--mixin-ZJv4nKnbrKBfg_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset :global(.__wab_expr_html_text) h5),
:where(.root_reset.plasmic_default__h5) {
  color: var(--mixin-0N75TrI7Z60wO_color);
  font-size: var(--mixin-0N75TrI7Z60wO_font-size);
  font-weight: var(--mixin-0N75TrI7Z60wO_font-weight);
  letter-spacing: var(--mixin-0N75TrI7Z60wO_letter-spacing);
  line-height: var(--mixin-0N75TrI7Z60wO_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset :global(.__wab_expr_html_text) h6),
:where(.root_reset.plasmic_default__h6) {
  color: var(--mixin-sn8oV5uL9tGqj_color);
  font-size: var(--mixin-sn8oV5uL9tGqj_font-size);
  font-weight: var(--mixin-sn8oV5uL9tGqj_font-weight);
  line-height: var(--mixin-sn8oV5uL9tGqj_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset :global(.__wab_expr_html_text) a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-Cv8kpVvOFMHST_color);
}

:where(.root_reset .plasmic_default__li),
:where(.root_reset .li),
:where(.root_reset :global(.__wab_expr_html_text) li),
:where(.root_reset.plasmic_default__li) {
}

:where(.root_reset .plasmic_default__p),
:where(.root_reset .p),
:where(.root_reset :global(.__wab_expr_html_text) p),
:where(.root_reset.plasmic_default__p) {
}
